langchain
unstructured # Document loading
chromadb==0.4.21 # Vector storage0.4.21
openai # For embeddings
tiktoken  # For embeddings



langchain==0.0.352
langchain-community==0.0.6
langchain-core==0.1.10
langchain-openai==0.0.2
langdetect==1.0.9
langsmith==0.0.74